page-pecas {
}

.card-content-md {
    line-height: 1 !important;
}

.icon-cam {
    font-size: 36px;
    padding: 10px 15px 5px 10px;
}

.card-brand {
    font-size: 1.5rem!important;
    color: #424242!important;
    font-weight: 500!important;
}

.card-title {
    font-size: 2rem!important;
    font-weight: 500!important;
    color: #E64A19!important;
    margin-bottom: 0!important;
}

.card-description {
    font-size: 1.2rem!important;
    display: inline-block;
    padding-top: 5px;
}

.card-price {
    font-size: 1.5rem!important;
    font-weight: 500!important;
    color: #E64A19!important;
}